.upperredline{
    margin-top: 2%;
    background-color: red;
    height: 10px;
  }
  .imagetatva{
    height: 92px;
  }
  .image1{
    object-fit: contain;
    height: inherit;
    align-items: center;
  }
  .cartDiv{
    margin-top: 3%;
  }
  .search{
    height: 80px;
    background-color: rgb(204, 200, 200);
  }
  #search{
    width: 422px;
    height: 40px;
    color: rgb(33, 33, 33);
    margin-left: 325px;
    margin-top: 20px;
    
  }
